body{
    justify-content: center;
}
.stats{
    align-items: center;
    width: 400px;
    height: 100px;
    padding: 50px;
    background-color: transparent;
    border-radius: 10px;
    outline-style: solid;
    margin: 20px;
}

.posts{
   justify-content: center;
    width: 100px;
    height: 10px;
    padding: 100px;
    background-color: transparent;
    border-radius: 10px;
    outline-style: solid;
    
}