.topnav {
    text-align: right;
    overflow: hidden;
    background-color: rgb(231, 226, 226);
    display: flex;
    color: rgb(38, 124, 199);
    
}
  
  /* Style the topnav links */
.header  {
    float: right;
    display: flex;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    
}
  
  /* Change color on hover */
.topnav a:hover {
    background-color: rgb(175, 2, 2);
    color: rgb(0, 4, 255);
    text-align: right;
}

.navbar{
  width: 100%;
  position: relative;
  overflow: auto;
  font-family: 'Rock Salt',cursive;
 
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
  transition: scale(1.5);

}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
